    body{
        margin:0px;
        padding:0px;
    }
    h1,h2,h3{
        color: #2e2e2e;
        font-size:32px;
        font-style:normal;
      
    }
        p{
        color: #626262;
        font-size:19px;
        margin:0;
        }
        header{
            width:100%;
            display:flex;
            flex-direction:column;
            background-image: url(background.jpg);
            background-size: cover;
        }
        .container{
            margin:auto;
            padding:auto;
            width:74%;      
        }
        .headPart{
            display:flex;
            flex-direction:row;
            justify-content: space-between;
        }
        .headPart>section a:link{
        text-decoration: none;
        word-spacing: -5px;
        color: rgba(0,0,0,.9);
        font-size:33px;
        }
        .headPart a:visited{
        color: rgba(0,0,0,.9);
        }
    header h1 span{ 
    color: #00c9b1;
    }
    .navBar ul {
    display:flex;
    flex-direction:row;
    }
    .navBar ul li{
        margin-left:25px;
        list-style-type:none;
        line-height: 70px;
        margin-top:10px;
    }
    .navBar ul li a:link{
        text-decoration: none;
        color: rgba(0,0,0,.9);
        font-size:19px;
    }
    .navBar ul li a:hover{
        color: #00c9b1;
    }
    #home{
        color: #00c9b1; 
    }
    .buttonPart{
    margin-top:150px;
    display:flex;
    flex-direction:column;
    }
    .buttonPart h2{
        color: #232323;
        font-style: normal;
        font-size: 17px;
        letter-spacing: 2px;
    }
    .buttonPart h1{
        color: #232323;
        font-size: 39px;
        letter-spacing: 2px;
        margin-top:-8px;
        margin-bottom:5px;
    }
    .buttonPart h1 span{
        color: #00c9b1; 
    }
    .buttonPart em{
        color: #666;
    }
    .button{
        margin-top:20px;
    }
    .aButton {
        position: relative;
        border:1px solid #00c9b1; 
        padding:15px 40px;
        margin:0px 15px 10px 0; 
        text-decoration: none !important;
        display:inline-block;
        font-size: 15px;
        cursor: pointer;
        background-color: #00c9b1;
        border-radius: 2px;
        color: #fff;
        z-index: 1;
    }
    .aButRight::before{
    top:0;
    left: 0;
    position: absolute;
    content:"";
    width:0%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    opacity:0;
    transition:0.5s;
  

    }

    .aButRight:hover::before{
        width: 100%;
        opacity:1;

      
    }
    .aButFooter::before{
        top:0;
        left: 0;
        position: absolute;
        content:"";
        width:100%;
        height: 0%;
        background-color: #fff;
        z-index: -1;
        opacity:0;
        transition:0.5s;
        
        }
    .aButton:hover{
        color: #00c9b1;

    }
    .aButFooter:hover::before{
        height: 100%;
        opacity:1;
    }
    .animPart{
        height:250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .animBox{
        width:30px;
        height:60px;
        border:2px solid #00c9b1;
        border-radius:20px;
        margin-top:100px;
        position: relative;
    }
    .ball{
        border:1px solid #00c9b1;
        border-radius:50%;
        width:7px;
        height:7px;
        position: absolute;
        background-color: #00c9b1;
        animation: ball 2.6s ease 0s infinite alternate both;
    }
    @keyframes ball{
        0%{
            top:44px;
            left:11px;
        }
        50%{
            top:8px;
            left:11px;
        }
        100%{
            top:44px;
            left:11px;
        }
    }
    main{
        width:100%;
        height:100%;
    }
    .musaFeature{
        width:100%;
        height:500px;
    }

    .head{
        text-align: center;
    }
    .featureBox{
        width:350px;
        height:200px;
        border:2px solid rgba(228, 224, 224, 0.4);
        position: relative;
        margin-top:100px;
        display:flex;
        flex-direction: column;
        text-align:center;
        border-radius: 2px;
    }
    .musaFeature>div:nth-child(2){
        display:flex;
        flex-direction: row;
        justify-content:space-around;
    }
    .featureBox h2{
    margin-top:50px;
    color: #2e2e2e;
    font-style:normal;
    font-size:21px;
    }

    .topBox{
        position: absolute;
        top:0;
        left:0;
        width:60px;
        height:60px;
        border:1px solid transparent;
        border-radius: 2px;
        transform: translate(140px,-30px);
        background: #000
    }
    .topBox>i{
        color:white;
        font-size:25px;
        line-height: 60px;
    }
    .featureBox:hover .topBox{
    background: #00c9b1;
    }
    .featureBox:hover{
    box-shadow:1px 8px 10px 1px rgba(228, 224, 224, 0.466);
    }
    .content2{
        width:100%;
        display:flex;
        flex-direction:row;
        background-color: rgba(228, 224, 224, 0.466);
    }
    .leftSide{
        width:50%;
        padding:50px 50px 20px 50px;
        display:flex;
        flex-direction:column;
    }
    .leftSide>div:nth-child(2){
        display:flex;
        flex-direction:row;
        margin-top:30px;
    
    }
    .leftSide>div:nth-child(2)>p{
        line-height:50px;
        margin:0px 20px;
    }
    .leftSide>div{
        margin-bottom:40px;
    }
    .middleBox{
        width:50px;
        height:50px;
        border:1px solid transparent;
        border-radius: 2px;
        background-color: #00c9b1;
        text-align: center;
    }
    .middleBox>i{
        color:white;
        font-size:24px;
        line-height:50px;
    }
    .browsers{
        width:40px;
        height:40px;
        border:2px solid #232323;
        border-radius:2px;
        float:left;
        margin-right:15px;
        text-align: center;
    }
    .browsers:hover{
    background-color: #00c9b1;
    border:2px solid #00c9b1;
    }
    .browsers>i{
        color: #232323;
        line-height:40px;
    }
    .browsers:hover i{
    color:white;
    transition-delay:0.5s;
    }
    .rightSide{
        width:48%;
        height:100%;
        padding:61px 20px 20px 50px;
        display:flex;
        flex-direction:column;
    }
    .rightSide>div{
        margin-bottom:50px;
    }
    .rightSide>div:nth-child(1)>h2{
        font-size:21px;
    }
    .tube{
        width:100%;
        height:15px;
        background-color: #ddd;
        margin:13px 0px 13px 0px;
    }
    .innerTube{
        background-color: #00c9b1;
        height:100%;
        border:1px solid transparent;
        border-top-right-radius:13px;;
        border-bottom-right-radius:13px;
        color:white;
        display:flex;
        justify-content: flex-end;
    }
    .tube1{
        width:92%;
    }

    .tube2{
        width:95%;
    }

    .tube3{
        width:90%;
    }

    .tube4{
        width:85%;
    }
    .content3{
        background-color:#fff;
        width:100%;
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    .baseDiv{
        width:90%;
        margin:auto;
        padding:auto;
        height:100%;
        display:flex;
        flex-direction:column;
        margin-top:50px;
    }
    .baseTop{
        display:flex;
        flex-direction:row;
        width:100%;
        height:90%;
        justify-content:space-around;
        margin-bottom:30px;
    }
    .modelDiv:hover{
        transform:translate(0px,-13px);
        transition-duration: 2s;
        opacity:1;
    }
    .modelDiv:hover i{
        transform:translate(0px,-13px);
        transition-duration: 1.5s;
    }
    .modelDiv{
    width:30%;
    height:220px;
    border:1px solid rgba(228, 224, 224, 0.4);
    box-shadow:1px 1px 1px 1px rgba(228, 224, 224, 0.6);
    display:flex;
    flex-direction: column;
    text-align:center;
    padding-top:50px;
    opacity:0.5;
    }
    .modelDiv>h3{
    margin:20px 0px 15px 0px;
    font-size:20px;
    }
    .modelDiv>i{
        color:#00c9b1;
        font-size:35px;
        margin-top:20px;
    }
    .content4{
        width:100%;
        height:1500px;
        display:flex;
        flex-direction:column;
        background-color: rgba(228, 224, 224, 0.062);
        text-align: center;
    }
    .content4>div{
        margin-bottom:30px;
    }
    .content4>div:nth-child(1){
        width:100%;
        padding-bottom:40px;
    }
    #home1{
        background-color:#00c9b1;
        color:#fff;
    }
    .lineSolid{
        width:120px;
        height:2px;
        background-color: #00c9b1;
        margin:3% 0 0 46%;
        position: relative;
    }
    .square{
        width:15px;
        height:15px;
        background-color: #00c9b1;
        transform:translate(50px, -7px) rotate(45deg);
        position: absolute;
    }
    .content4>div:nth-child(2){
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .halfButton{
    width:80px;
    height:30px;
    background-color: #ddd;
    margin-right:13px;
    text-decoration: none;
    color:#232323;
    line-height:30px;
    padding: 0px 5px;
    position: relative;
    border:1px solid #ddd;
    border-radius:3px;
    display:inline-block;
    z-index:1;
    }
    .halfBut::before{
        top:0;
        left: 0;
        position: absolute;
        content:"";
        width:50%;
        height: 0%;
        background-color:#00c9b1;
        opacity:0;
        transition:0.5s;
        z-index:-1;
    }
    .halfBut:hover::before{
        height:100%;
        opacity:1;
    }
    .halfBut::after{
        bottom:0;
        right: 0;
        position: absolute;
        content:"";
        width:50%;
        height: 0%;
        background-color:#00c9b1;
        z-index:-1;
        opacity:0;
        transition:0.5s;
    }
    .halfBut:hover::after{
    height:100%;
    opacity:1;
    }
    .halfButton:hover{
        color:#fff;
        z-index:2;
        text-decoration: none;
    }

    .content4>div:nth-child(3){
        width:100%;
    }
    .imagesPart{
        width:87%;
        height:100%;
        margin:auto;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .img{
        width:33%;
        height:33.4%;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    .hidden{
        position: absolute;
        opacity: 0;
        width:87%;
        height:85%;
        padding-left:30px;
    
    }
    .hidden>h1, .hidden>p{
        color:#fff;
        margin:0px;
    
    }
    .hidden i{
    color:#00c9b1;
    font-size:25px;

    }
    .hidden>div{
        width:50px;
        height:50px;
        background-color: white;
        border:1px solid transparent;
        border-radius: 50%;
        margin:20% 0 0  40%;
        line-height:55px;
    }

    .img::before{
        content:"";
        position: absolute;
        width:87%;
        height:85%;
        background-color: #00c9b162;
        opacity: 0;
        margin:20px 0 20px 25px;
        z-index:1;
        cursor:pointer;
    }
    .img:hover::before{
        content:"";
        opacity:1;
        z-index:0;
        position: absolute;
    }
    .img:hover .img::before{
        z-index:0;
        opacity:1;
        content:"";
    }
    .img:hover .hidden{
        opacity:1;
    
    }


    .img>img:hover {
        transform: scale(1.1);
        transition:0.5s; 
    }
    .img>img{
        width:100%;
        height:100%;
    }
    .content4>div:nth-child(5){
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content:center;
    }
    .pic{
    width:20%;
    height:200px;
    margin: 0 15px;
    position: relative;
    }  
.pic>img{
 width:100%;
 height:100%;
 }
.pic>div{
    position: absolute;
    width:87%;
    height:170px;
    background-color: rgba(255, 254, 254, 0.705);
    margin:16px 20px;
}
.pic>div>i{
    color:#00c9b1;
    font-size:32px;
    margin-top:10px;
}
.pic>div>h1{
    font-size:45px;
    margin:10px 0;
}
.content5{
    width:100%;
}
.content5>div:nth-child(1){
    width:100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-bottom:50px;
}
.content5>div:nth-child(2){
    width:90%;
    height:450px;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content:space-between
}
.team{
    width:22%;
    height:62%;
    position: relative;
    text-align: center;
}
.team>img{
    width:100%;
    height:100%;
}
.browserIcon{
    width:100%;
    height:100%; 
    background-color:#171718c9;
    position: absolute; 
    display:none;
}
.team:hover .browserIcon{
    display:block;
}
.browserIcon>.browsers1{
border:2px solid #fff;
margin:45% 0% 0% 7%;
}
.browsers1>i{
    color:#fff;
}
.greenSolid{
    width:270px;
    height:2px;
    background-color:#00c9b1;
    margin-top:20px;
}
.team>h1{
  font-size:21px;
  margin-top:20px;
}
.team>span{
    color:#00c9b1;
}
.content6{
    width:100%;
   padding-bottom:60px;
    position: relative;
    background-color: rgba(139, 133, 133, 0.062);
}
.content6>div:nth-child(1){
    width:100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom:50px;
}
.content6>div:nth-child(2){
    width:90%;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content:center;
}
.content6>div:nth-child(2)>div:nth-child(2){
    margin: 0 30px;
}
.clients{
    width:28%;
    height:280px;
    text-align: center;
    background-color:#fff;
    padding-top:50px;
    position: relative;
}
.arrow{
    font-size:30px;
    color:#00c9b1;
    position: absolute;
    opacity:0;
}
.arrowLeft{
    transform:translate(-200px, 90px)
}
.arrowRight{
    transform:translate(130px, -148px)
}
.arrow:hover{
    opacity:1;
}
.clients:hover .arrow{
   opacity: 1;
}
.person{
    width:90px;
    height:70px;
    border:1px solid transparent;
    border-radius:50%;
    margin:0 0 7% 35%;
    overflow: hidden;
}
.person>img{
    width:100%;
    height:100%;
}
.clients>span{
    color: #626262;
}
.clients>h4{
    color:#00c9b1;
}
.content7{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:50px 0;
   
}
.retro{
    width:200px;
    height:150px;
 margin-top:25px;
 overflow: hidden;
}
.retro>img{
    width:100%;
    height:100%;
 
}
.retro>img:hover{
    transform: scale(1.08)
}
.content8{
    width:100%;
   padding-bottom:60px;
    position: relative;
    background-color: rgba(139, 133, 133, 0.062);
}
.content8>div:nth-child(1){
    width:100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom:50px;
}
.content8>div:nth-child(2){
    width:90%;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content:center;
}
.content8>div:nth-child(2)>div:nth-child(2){
    margin: 0 30px;
}
.basic{
    width:30%;
    height:400px;
    text-align: center;
    background-color:#fff;
    display:flex;
    flex-direction: column;
    padding:10px 0;
    border:1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.classic{
    background-color: #00c9b1;
    color:#fff !important
}
.classic>h3, .classic>h1, .classic>p, .whiteIcon {
    color:#fff !important
}
.classic>a{
    background-color: #fff;
    color:#00c9b1
}
.basic>h3{
margin-top:10px;
font-size:19px;
}
.basic>h1{
    font-size:50px;
    margin-top:0px;
}
.basic>p{
    margin:-50px 0px 0px 0px;
}
.basic>ul>li{
    list-style-type:none;
    margin: 0px 50px 20px 0px;
}
.basic>ul>li>i{
color:#00c9b1;
margin-right:15px;
}
.basic:hover{
    background-color: #00c9b1;
    color:#fff;
}
 .basic:hover h1, .basic:hover h3, .basic:hover p {
    color:#fff !important
}
.basic:hover span{
    color:#fff !important;
    transition-delay: 0.2s;
}
.basic:hover i{
    color:#fff !important;
    transition-delay: 0.2s;
}
.basicButton{
width:70px;
height:3%;
margin-left:110px;
border:1px solid #fff;
}
.content8{
    width:100%;
    height:800px;
   padding-bottom:60px;
}
.content9>div:nth-child(1){
    width:100%;
    display:flex;
    height:150px;
    flex-direction: column;
    text-align: center;
    padding-bottom:50px;
}
.content9>div:nth-child(2){
    width:90%;
    height:600px;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content:center;
}
.content9>div:nth-child(2)>div:nth-child(2){
    margin: 0 30px;
}
.cards{
    width:30%;
    height:570px;
    display:flex;
    flex-direction: column;
    border:1px solid #6262626e;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
}
.cards:hover{
    box-shadow: 0 10px 10px rgba(0,0,0,.15);
}
.cards>div:nth-child(1){
width:100%;
height:50%;
}
.cards>div:nth-child(1)>img{
    width:100%;
    height:100%; 
}
.cards>div:nth-child(2){
    width:100%;
    height:50%;
    display:flex;
    flex-direction: column;
    padding:0px 20px;
    }
    .cards>div:nth-child(2)>h3>a:link{
        text-decoration:none; 
        color: #626262;
    }
    .cards>div:nth-child(2)>h3>a:visited{
        color: #1a1818;
    }
    .cards>div:nth-child(2)>h3>a:hover{
        color:#00c9b1 
    }
    .cards>div:nth-child(2)>ul{
        display:flex;
        flex-direction: row;
        padding:0px;
        margin:0px
        
    }
    .cards>div:nth-child(2)>ul>li{
        list-style-type: none;
        margin: -10px 13px 15px 0px;
      
    }
    .cards>div:nth-child(2)>ul>li>a:link{
        text-decoration:none; 
    
    }
    .cards>div:nth-child(2)>ul>li>a:visited{
        color: #626262;
    }
    .cards>div:nth-child(2)>ul>li>a:hover{
        color:#00c9b1 
    }
    .user{
        color:#00c9b1 !important;
    }
    .heart{
        display:flex;
        flex-direction: row;
    }
    .heart>a{
        color:#00c9b1 
    }
    .heart>span>a:link{
        text-decoration: none;
    }
    .heart>span>a:visited{
        color: #626262;
    }
    .heart>span>a:hover{
        color:#00c9b1 
    }

    .heart>p>a:visited{
        color: #626262;
    }
    .heart>p>a:link{
        text-decoration: none;
    }
    .heart>p>a:hover{
        color:#00c9b1 
    }
    .heart>a>i{
        margin:25px 10px 0 0; 
    }
    .heart>span{
        margin:25px 0 0 0;
    }
    .heart>p{
        margin:23px 0 0 180px;
    }
    .subscribe{
        width:100%;
        height:500px;
        background-image: url(redhead5.jpg);
        background-size:cover;
        flex-direction:column;
        text-align: center;
       
    }
    .subscribe>div:nth-child(1){
        display:flex;
        flex-direction: row;
    }
.subscribe input{
    width:400px;
    height:43px;
    margin-right:-10px;
    background-color: transparent; 
    border:1px solid rgba(43, 39, 39, 0.945);
    border-radius: 3px;
}
.subscribe>h1{
    color:rgba(189, 15, 15, 0.527);
}
.subscribe input::placeholder{
    color:rgba(43, 39, 39, 0.945);
}
.subscribe input:focus{
    outline:transparent;
} 
.brow{
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.red>i{
    color:#00c9b1   
}
.lastContent{
    width:100%;
    height:550px;
    display: flex;
    flex-direction: row;
}
.lastContent>div:nth-child(1){
    width:30%;
    height:100%;
    display: flex;
    flex-direction: column;
    padding-left:100px;
}
.lastContent>div:nth-child(1) h3{
    font-size:20px;
    margin:10px 0px;
}
.lastContent>div:nth-child(1) i{
    color:#00c9b1;
    margin-top:25px;
    font-size:25px;
}
.lastContent>div:nth-child(2){
    width:60%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.nameEmail{
    display:flex;
    flex-direction: row;
}
.nameEmail>input{
    width:48%;
    height:40px;
    margin: 0px 20px 20px 0px;
    border:1px solid #e5e5e5;
    border-radius:3px;
}
.nameEmail>input:focus{
    outline:none;
    border-color: #00c9b1;
}
.nameEmail{
    display:flex;
    flex-direction: row;
}
.nameEmail>input{
    width:48%;
    height:40px;
    margin-right:20px;
    border:1px solid #e5e5e5;
    border-radius:3px;
}
.nameEmail>input:focus{
    outline:none;
    border-color: #00c9b1;
}
textarea{
    width:97%;
    height:170px;
    overflow: hidden;
    border:1px solid #e5e5e5;
    border-radius:3px;
    margin-top:20px;
}
textarea:focus{
    outline:none;
    border-color: #00c9b1;
}
.lastButton{
    width:90px;
    text-align: center;
    margin-top:20px;
}
footer{
    width:90%;
    margin:0 auto;
    padding:20px 0px;
    height:60px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
footer>p{
    padding:15px;
}
footer>ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    padding:15px;
    margin:0;
}
footer>ul>li{
    margin-right:12px;
    font-size:21px;
}
footer>ul>li>a:link{
text-decoration: none;
color: #232323;
}
footer>ul>li>a:visited{
    color: #232323; 
}
footer>ul>li>a:hover{
    color:#00c9b1;
}
.foot{
    padding:0;
    margin:0;
}
.fixed{
    width:30px;
    height:30px;
    background-color:#232323; 
    bottom:20px;
    right:20px;
    position: fixed;
    text-align:center;
    line-height:30px;
    color:#fff;
}
.fixed:hover{
    background-color:#00c9b1;
}
